{{ define "main" }}
  <article class="flex-l flex-wrap justify-center mw9 center ph3 pt5">

    {{ range .Sections.ByWeight }}
    <section class="mb4 w-80-l flex-l flex-wrap justify-center">
      <div class="relative w-100 bg-white">
        {{- partial "list_latest_news.html" . -}}
      </div>
    </section>
    {{ end }}

    <section class="w-100 flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section>
  </article>
{{ end }}
