{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="w-100 mt4 mb4">
      {{ partial "social-share.html" . }}
      <h1 class="f1 mt3 mb1">
        {{- .Title -}}
      </h1>
    </header>
    <div class="relative w-100 w-100-l mb4 bg-white">
        {{- partial "all-section-news.html" . -}}
    </div>
    <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links {{ $.Param "text_color" | default "mid-gray" }} {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl4-l" "pr4-l" }} {{ if .Params.toc }}w-75-l{{ else }}w-100-l{{ end }}">
      {{- .Content -}}
      {{- partial "tags.html" . -}}
      <div class="mt6 instapaper_ignoref">
      {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partial "commento.html" . -}}
      {{ end }}
      </div>
    </div>

    {{- if .Params.toc -}}
    <div class="w-20-l ph5-m ph0-l mb4 sticky">
    <aside class="mw5-l right-0 f6 bl-l b--moon-gray">
      {{- partial "menu-contextual.html" . -}}
    </aside>
    </div>
    {{- end -}}

  </article>
{{ end }}
