main {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.ttbody {
    max-width: 800px;
}
::-webkit-scrollbar {
    display: none;
}
.card:hover {
    background-color: lightgray !important;
}
@media print {
    body {
        max-width: none;
    }
    body * {
        visibility: hidden;
    }
    .no-print {
        display: none;
    }
    .print, .print * {
        visibility: visible;
        font-size: x-small;
    }
    .break-after {
        page-break-after: always;
        position: relative;
    }
    .col-1half {
        width: 25px;
    }
}