<div class="relative w-100 mb4 bg-white nested-copy-line-height">
  <div class="mb3 pa4 pv3 gray overflow-hidden">
    <h1 class="f3 near-black">
      <a href="{{ .RelPermalink }}" class="link black dim">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ $n_posts := .Site.Param "recent_posts_number" | default 3 }}
      {{ $page_count := len .Pages }}

      {{ with (first $n_posts .Pages.ByDate.Reverse) }}
        {{- partial "partials/news_table.html" . -}}
      {{ end }}
    </div>
    {{ if ge $page_count (add $n_posts 1) }}
      <section class="w-100 mt4">
      <a href="{{ .RelPermalink }}" class="link f6 pa2 br1 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
      </section>
    {{ end }}
  </div>
</div>
