{{ define "main" }}
  {{ $hot_sections := where .Site.RegularPages "Params.hot_topic" "==" true }}
  {{ $hot_sections_count := len $hot_sections }}
  {{ if ge $hot_sections_count 1 }}
    {{ with $hot_sections.ByDate.Reverse }}
      {{- partial "hot-topic.html" . -}}
    {{ end }}
  {{ end }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Params.heading" "!=" nil }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{ $n_posts := $.Param "recent_top_news" | default 3 }}
    <article class="w-70-l flex-l flex-wrap justify-center mw9 center ph3 pt5">
      <section class="w-100 center">
        <div class="relative w-100 pb2 bg-white nested-copy-line-height">
          <div class="mb3 pa4 pv3 gray overflow-hidden">
            <h1 class="f3 near-black">
              {{ i18n "topNews" }}
            </h1>
            <div class="nested-links f5 lh-copy">
              {{ $page_count := len .Pages }}
              {{ with (first $n_posts $section.ByDate.Reverse) }}
              {{- partial "news-table.html" . -}}
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    </article>
  {{ end }}
  <article class="w-70-l flex-l flex-wrap justify-center mw9 center ph3 pt5">
    <h2><a href="https://forms.office.com/r/UtE23YGurr">{{ i18n "toContact" }}</a></h2>
  </article>
  <article class="w-70-l flex-l flex-wrap justify-center mw9 center ph3 pt5">
    <div class="relative w-100 w-70-l">
      {{ .Content }}
    </div>
    <div class="relative w-100 w-30-l links">
      <h3>{{ i18n "extLinks" }}</h3>
      <ul>
      {{ range .Site.Data.links}}
        <li><a href="{{ .url }}" target="_blank">{{ .title }}</a></li>
      {{ end }}
      </ul>
    </div>
  </article>
{{ end }}
