/* 全体的なフォント */
.jpfonts {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
}

/* 投稿タイトルのフォント */
.athelas {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
    font-weight: 500;
}

p > code, li > code {
    background-color: gainsboro;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: .4%;
    vertical-align: middle;
}

.sticky {
    position:-webkit-sticky;
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto
}

html {
    scroll-behavior: smooth;
}

table {
    border-spacing: 10pt 3pt;
}

.hd-important {
    color: white;
    background-color: red;
    font-weight: bold;
    width: 60pt;
    padding: 1pt;
    white-space: nowrap;
}

.hd-notice {
    color: white;
    background-color: green;
    width: 60pt;
    padding: 1pt;
    white-space: nowrap;
}

.hd-incident {
    color: black;
    background-color: gold;
    width: 60pt;
    padding: 1pt;
    white-space: nowrap;
}