/* 全体的なフォント */
.jpfonts {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
}

/* 投稿タイトルのフォント */
.athelas {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
    font-weight: 500;
}

p > code, li > code {
    background-color: gainsboro;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: .4%;
    vertical-align: middle;
}

.sticky {
    position:-webkit-sticky;
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto
}

html {
    scroll-behavior: smooth;
}